/* AdmQuestionnaire.css */

/* Base styling */
:root {
    --primary-main: #00796b; /* Main green */
    --primary-dark: #004d40; /* Dark green */
    --primary-light: #b2dfdb; /* Light green */
    --background-default: #e0f7fa;
    --background-paper: #ffffff;
    --sidebar-background: #f5f5f5;
    --text-primary: #000000;
    --text-secondary: #555555;
}

/* Dark theme variables */
[data-theme="dark"] {
    --primary-main: #64b5f6; /* Main blue */
    --primary-dark: #1565c0; /* Dark blue */
    --primary-light: #bbdefb; /* Light blue */
    --background-default: #121212;
    --background-paper: #1e1e1e;
    --sidebar-background: #333333;
    --text-primary: #ffffff;
    --text-secondary: #bbbbbb;
}

/* General Styles */
.App {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-dark);
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--primary-dark);
    background-color: var(--background-paper);
    color: var(--text-primary);
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--background-default);
    padding: 40px;
}

.titre {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-main);
    text-align: center;
    margin: 20px 0;
    padding: 10px;
}

/* Select Language Button */
.select-lang {
    font-size: 0.9em;
    padding: 5px;
    border: 2px solid var(--primary-main);
    border-radius: 5px;
    background-color: var(--background-paper);
    color: var(--text-primary);
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
    box-shadow: 3px 3px 5px var(--primary-dark);
}

.select-lang:hover {
    border-color: var(--primary-dark);
    background-color: var(--primary-light);
}

/* Start Button */
.btn-start {
    font-size: 1.2rem;
    color: var(--primary-main);
    background-color: var(--primary-light);
    padding: 10px 20px;
    border: 2px solid var(--primary-main);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 20px;
    box-shadow: 3px 3px 5px var(--primary-dark);
}

.btn-start:hover {
    background-color: var(--primary-main);
    color: var(--background-paper);
    border-color: var(--primary-dark);
    box-shadow: 5px 5px 5px var(--primary-dark);
}

/* Questionnaire Form Styles */
.questionnaire-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid var(--primary-dark);
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--primary-dark);
    background-color: var(--background-paper);
}

/* Styles for each question */
.question-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    border: 1px solid var(--primary-main);
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--primary-dark);
    padding: 15px;
    width: 100%;
    max-width: 800px;
    background-color: var(--background-paper);
}

.question-item p {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-primary);
    margin-bottom: 15px;
    line-height: 1.5;
}

.question-item p strong {
    color: var(--primary-main);
}

/* Disabled and Error Styles */
.question-item.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.question-item.error {
    border-color: red;
}

/* Form Controls */
.form-control,
.question-item input[type="text"],
.question-item input[type="number"],
.question-item input[type="email"],
.question-item textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--primary-main);
    border-radius: 5px;
    box-shadow: 3px 3px 5px var(--primary-dark);
    margin-bottom: 15px;
    font-size: 1rem;
    color: var(--text-primary);
}

/* Option Groups */
.option-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.option-label {
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--text-secondary);
    line-height: 1.4;
}

/* Custom Checkboxes and Radios */
.custom-checkbox,
.custom-radio {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    /* border: 2px solid var(--primary-main); */
    border-radius: 3px;
}

.custom-radio {
    border-radius: 50%;
    position: relative;
}

.custom-radio:after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--primary-main);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease;
}

input[type="radio"]:checked + .custom-radio:after {
    opacity: 1;
}

/* Likert Scale Styles */
.likert-scale {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align options to the left */
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 20px 0;
}

.likert-scale li {
    display: flex;
    align-items: center; /* Center the radio button and label vertically */
    margin-bottom: 10px;
}

.likert-scale input[type="radio"] {
    margin-right: 10px; /* Add space between radio button and label */
}

.likert-scale label {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--primary-main);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 3px 3px 2px black;
}

.likert-scale input[type="radio"]:checked + label {
    background-color: var(--primary-main);
    color: white;
}

.likert-scale input[type="radio"]:focus + label {
    outline: 2px solid var(--primary-dark);
}

/* Likert Options and Multiple Choice Styles */
.likert-options,
.multiple-choice-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.likert-options input,
.multiple-choice-options input {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid var(--primary-main);
    border-radius: 5px;
    box-shadow: 3px 3px 2px black;
}

.likert-options input::placeholder,
.multiple-choice-options input::placeholder {
    color: var(--text-secondary);
}

/* Buttons */
.btn-add-option,
.btn-add-question,
.btn-submit,
.btn-save,
.btn-complete {
    font-size: 1rem;
    color: var(--background-paper);
    background-color: var(--primary-main);
    padding: 10px 20px;
    border: 2px solid var(--primary-main);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 3px 3px 5px var(--primary-dark);
    margin: 10px; /* Add margin to space out buttons */
}

.btn-add-option:hover,
.btn-save:hover,
.btn-add-question:hover,
.btn-submit:hover,
.btn-complete:hover {
    background-color: var(--primary-dark);
    transform: scale(1.05);
}

/* Add Question Form */
.add-question-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 2px black;
    padding: 20px;
    width: 300px;
}

.add-question-form input,
.add-question-form select {
    margin-bottom: 20px;
    padding: 5px;
    border: 2px solid var(--primary-main);
    border-radius: 5px;
    box-shadow: 3px 3px 2px black;
}

.add-question-form button {
    font-size: 1rem;
    color: var(--background-paper);
    background-color: var(--primary-main);
    padding: 10px 20px;
    border: 2px solid var(--primary-main);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 3px 3px 5px var(--primary-dark);
}

.add-question-form button:hover {
    background-color: var(--primary-dark);
    transform: scale(1.05);
}

/* Sidebar Styles */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-background);
    padding: 20px;
    border-right: 2px solid var(--primary-main);
    box-shadow: 2px 0 5px var(--primary-dark);
    height: 100vh;
    width: 250px;
    position: fixed;
}

.sidebar-item {
    font-size: 1.2rem;
    padding: 10px;
    border-bottom: 1px solid var(--primary-light);
    color: var(--text-primary);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-item:hover {
    background-color: var(--primary-light);
}

/* Navigation Styles */
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--primary-main);
    color: var(--background-paper);
    box-shadow: 0 3px 5px var(--primary-dark);
}

.nav-item {
    font-size: 1.2rem;
    color: var(--background-paper);
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: var(--primary-dark);
}
.confirm-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-default);
    padding: 20px;
}

.confirmation-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-main);
    margin-bottom: 20px;
}

.confirmation-message {
    font-size: 1.2rem;
    color: var(--text-primary);
    margin-bottom: 30px;
    text-align: center;
}

.confirmation-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-restart,
.btn-save {
    font-size: 1rem;
    color: var(--background-paper);
    background-color: var(--primary-main);
    padding: 10px 20px;
    border: 2px solid var(--primary-main);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 3px 3px 5px var(--primary-dark);
    margin: 10px;
}

.btn-restart:hover,
.btn-save:hover {
    background-color: var(--primary-dark);
    transform: scale(1.05);
}

/* Optional styling for form controls */
.confirmation-form input {
    padding: 10px;
    border: 2px solid var(--primary-main);
    border-radius: 5px;
    box-shadow: 3px 3px 2px black;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
}

/* Additional styling for any lists or content */
.confirmation-content {
    text-align: center;
    margin-top: 20px;
}
/* AdConfirmPage.css */

/* Base Styling */
.confirmation-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid var(--primary-dark);
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--primary-dark);
    background-color: var(--background-paper);
    color: var(--text-primary);
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

/* Message Styling */
.confirmation-message {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--text-primary);
    text-align: center;
}

/* Actions Section Styling */
.confirmation-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Buttons */
.btn {
    font-size: 1rem;
    padding: 10px 20px;
    border: 2px solid var(--primary-main);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--primary-main);
    color: var(--background-paper);
    box-shadow: 3px 3px 5px var(--primary-dark);
}

.btn:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

/* Responsive Styles */
@media (max-width: 600px) {
    .confirmation-page {
        padding: 15px;
        width: 90%;
    }

    .confirmation-message {
        font-size: 1.2rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}
/* AdmQuestionnaire.css */

.share-buttons {
    margin-top: 20px;
  }
  
  .share-buttons-container {
    display: flex;
    gap: 10px;
  }
  
  .share-buttons .btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .share-buttons .btn:hover {
    background-color: #0056b3;
  }
  .share-buttons {
    margin-top: 20px;
  }
  
  .share-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .share-button:hover {
    background-color: #0056b3;
  }
  